<div class="content" *ngIf="dataApi">
    <div id="header">
        <h1>Final Space List</h1>
    </div>
    <div class="card" *ngFor="let char of characters; index as i">
        <div class="card-header">
            <h3>{{char.name}}</h3>
        </div>
        <img [src]="char.img_url" [title]="char.name">
        <p><b>Status: </b>{{char.status}}</p>
        <p><b>Species: </b>{{char.species}}</p>
        <p><b>Status: </b>{{char.status}}</p>
        <p><b>Origin: </b>{{char.origin}}</p>

        <button (click)="toggleAccordion(i)">Abilities</button>

        <div *ngIf="activeIndex === i" class="accordion-content">
            <ul>
                <li *ngFor="let ability of char.abilities">
                    <p>Ability {{ability.split('/').pop()}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>