<div class="row">
    <div>
        <img src="./assets/img/rick-morty.jpeg" alt="Rick & Morty" class="img-fluid" routerLink="/info">
    </div>
    <div>
        <img src="./assets/img/disney.jpeg" alt="Rick & Morty" class="img-fluid" routerLink="/info-disney">
    </div>
    <div>
        <img src="./assets/img/finalspace.jpeg" alt="Rick & Morty" class="img-fluid" routerLink="/info-finalspace">
    </div>
    <div>
        <img src="./assets/img/valo.jpeg" alt="Rick & Morty" class="img-fluid" routerLink="/info-valorant">
    </div>
    <div>
        <img src="./assets/img/dragonball.jpeg" alt="Rick & Morty" class="img-fluid" routerLink="/info-dragonball">
    </div>
</div>