<div class="content" *ngIf="dataApi">
    <div id="header">
        <h1>Disney 2 List</h1>
        <div class="pagination">
            <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{currentPage}} / {{totalPages}}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button><br>
            Go to <input type="number" [(ngModel)]="pageToGo"><button (click)="goToPage(pageToGo)">Go To Page</button>
        </div>
        Character name: <input type="text" [(ngModel)]="charName">
        <button (click)="filterByName()">Filter by name</button>
        <button (click)="resetFilter()">Reset filter</button>

    </div>
    <div class="card" *ngFor="let char of characters; index as i">
        <div class="card-header">
            <h3>{{char.name}}</h3>
        </div>
        <img [src]="char.imageUrl" [title]="char.name">
        <p><b>Peliculas: </b>{{char.films}}</p>
        <p><b>Shows TV: </b>{{char.tvShows}}</p>

        <button (click)="toggleAccordion(i)">Games</button>

        <div *ngIf="activeIndex === i" class="accordion-content">
            <ul>
                <li *ngFor="let games of char.videoGames">
                    <p>Games {{games.split('/').pop()}}</p> <!--- EL pop se queda con el ultimo elemento de la url --->
                </li>
            </ul>
        </div>
    </div>
</div>