<div class="content">
  <div id="header">
    <h2>Data API Agents</h2>
  </div>
  <div class="card" *ngFor="let item of agents; index as i">
    <div class="card-header">
      <h3>{{item.displayName}}</h3>
    </div>
    <img [src]="item.displayIcon" [alt]="item.developerName" />
    <p><b>Role: </b>{{item.role.displayName}}</p>
    <p><b>Habilidades:</b></p>
    <ul>
      <li *ngFor="let ability of item.abilities">{{ability.displayName}}</li>
    </ul>
    <button (click)="toggleAccordion(i)">Description</button>
    <div *ngIf="activeIndex === i" class="accordion-content">
      <p>{{item.description}}</p>
    </div>
  </div>
</div>
